@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*header*/
header{
    background: black;

    border-radius: 10px;

}
nav{

}

.bordR {

    border: 3px solid rgba(0, 0, 0, .5);
}

.bordR:hover{

    border-bottom: deeppink solid 3px;

}
/*fin header*/

/*cuerpo*/
/*seccion 1*/
.banner{


    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 234, 247), rgb(255, 213, 238), rgb(255, 192, 230), rgb(255, 171, 221), rgb(255, 150, 213), rgb(255, 125, 209), rgb(255, 100, 206), rgb(255, 75, 202), rgb(255, 50, 198), rgb(255, 25, 195), rgb(255, 0, 191));

}
.titulo{
    color: black;
    margin-left: 15px;
    margin-top: 50px;
    font-size:5vw;
    font-family: 'Anton', sans-serif;
}
.img1{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    position: relative;
    animation-name: example;
    animation-duration: 6s;

}
@keyframes example {
    0%{
        transform: translatey(-200%);
    }
    10%, 30%, 50%, 70%,100%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-100px);
    }
    40%{
        transform: translateY(-80px);
    }

    60%{
        transform: translateY(-40px);
    }
    80%{
        transform: translateY(-20px);
    }
}
/*fin seccion 1*/

/*seccion 2*/
.section2{
ma
}

.footer{

    background: black;
    height: 100px;
}
.footer p{
    margin-top: 20px;

}