body{
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle closest-corner at 70% 10%, #59636f ,#383c45 );
}
.headernav{

    height: 80px;
    background: radial-gradient(circle ,#30363e ,#30363e );
    border: #1c7430 1px;

}
